$color-primary: #4e55a2;
$color-secondary: #e0de2a;
$color-tertiary: #ecb2d2;

$font-size-title-section: 48px;
$font-size-title-card: 32px;
$font-size-title-slider: 36px;
$font-size-footer-social: 13px;
