@use '../abstracts/mixins';
@use '../abstracts/variables' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
}

.header__inner {
  @include mixins.flex-space-between;
  height: 60px;
}

.header__icon {
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.header__nav {
  @include mixins.flex-center();
  gap: 30px;
}

.burger {
  width: 30px;
  height: 22px;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.burger__line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
  transition: 0.3s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.3s ease;
    left: 0;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}

.burger.active .burger__line {
  background-color: transparent;
}

.burger.active .burger__line::before {
  top: 0;
  transform: rotate(45deg);
}

.burger.active .burger__line::after {
  top: 0;
  transform: rotate(-45deg);
}

.header__menu {
  @include mixins.flex-center();
  flex-direction: column;
  gap: 40px;
  padding: 0 26px;
  position: absolute;
  top: 60px;
  right: -100%;
  transition: 0.3s ease;
  height: calc(100vh - 60px);
  width: 50%;
  background-color: $color-primary;

  @media (max-width: 820px) {
    width: 75%;
  }

  @media (max-width: 360px) {
    width: 100%;
  }
}

.header__menu-active {
  right: 0;
  transition: 0.3s ease;
}

.header__menu-item--daten {
  position: absolute;
  width: 50%;
  bottom: 30px;
  text-align: center;

  a {
    font-size: 22px;
    max-width: 360px;

    @media (max-width: 420px) {
      max-width: 160px;
      font-size: 18px;
      overflow-wrap: anywhere;
    }
  }
}

.header__menu-link {
  @include mixins.font-main();
  font-size: $font-size-title-slider;
  font-weight: bold;
  color: $color-secondary;

  @media (max-width: 820px) {
    font-size: 24px;
  }

  @media (max-width: 360px) {
    font-size: 20px;
  }
}

.header__menu-sublink {
  @include mixins.font-main();
  font-size: $font-size-title-slider;
  font-weight: bold;
  color: $color-tertiary;

  @media (max-width: 820px) {
    font-size: 24px;
  }

  @media (max-width: 360px) {
    font-size: 20px;
  }
}

.dropdown-toggle {
  display: none;
}

.header__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-toggle:checked ~ .header__submenu {
  max-height: 500px;
}

.arrow::after {
  content: '>';
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.dropdown-toggle:checked + .header__menu-link .arrow::after {
  transform: rotate(0deg);
}
